<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main class="container home-page">
        <header class="navbar">
            <h1 class="brand">
                <a href='/home' aria-label="Go to home page">The Social Media</a>
            </h1>
            <nav>
                <ul class="menu">
                    <li><a href='/profile' aria-label="View profile">Profile</a></li>
                    <li><a href='/my-posts' aria-label="View my posts">My Posts</a></li>
                    <li><a href='/logout' aria-label="Sign out">Sign out</a></li>
                </ul>
            </nav>
        </header>
        <section class="create-post">
            <textarea class="create-post-box" placeholder="Write your post..."></textarea>
            <div class="action-buttons">
                <label type="button" class="upload-button" id="upload-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M448 80c8.8 0 16 7.2 16 16l0 319.8-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3L48 96c0-8.8 7.2-16 16-16l384 0zM64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                    <input type="file" id="image-upload" name="image" accept="image/*" style="display: none;">
                </label>
                <button class="post-button" type="submit">Post</button>
            </div>
        </section>
        <section class="post-list">
            <h2 class="section-title">Recent posts</h2>
            <article class="post-item">
                <div class="post-header">
                    <h3 class="post-author">Lorem Impsu</h3>
                    <time datetime="2024-10-31T12:00">October 31, 2024</time>
                </div>
                <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dignissimos laboriosam optio. Quia fugiat veniam dignissimos. Voluptatum eius, animi molestiae, at sequi ducimus, sit commodi quos minima porro unde deleniti officia totam dolor iusto possimus quod accusamus omnis dicta enim nesciunt corporis? Nulla nobis vel impedit mollitia odio saepe reiciendis?</p>
            </article>
            <article class="post-item">
                <div class="post-header">
                    <h3 class="post-author">Lorem Impsu</h3>
                    <time datetime="2024-10-30T15:00">October 30, 2024</time>
                </div>
                <p class="post-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque soluta, rem quo magni corrupti fugit est, omnis distinctio illo voluptatem commodi corporis nisi! Ratione odio quibusdam quae quam ea odit itaque necessitatibus sapiente, ipsam tempora cupiditate labore voluptatibus dicta error minus nemo aperiam quia laboriosam omnis id? Rem, soluta amet?</p>
            </article>
        </section>
    </main>
    <script src="/public/js/script.js"></script>
</body>
</html>