<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main class="container">
        <div class="register-page-container">
            <div class="text-container">
                <h1 class="brand"><a href='/' aria-label="Go to initial page">Social Media</a></h1>
            </div>
        </div>
        <div class="form-container">
            <form class="regiter-form" aria-labelledby="register-heading">
                <div>
                    <div class="input-field">
                        <input id="email" class="input-text" type="email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <input id="name" class="input-text" type="text" placeholder="Name">
                    </div>
                    <div class="input-field">
                        <input id="password" class="input-text" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="register__button-container">
                    <button class="register-button" type="submit">Sign up</button>
                </div>
            </form>
            <div class="login__link-container">
                <p>Already have an account? <a class="login-link" href='/login' aria-label="Create an account">Sign in</a></p>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-content">
                <p>&copy; 2024 The Social Media. All rights reserved.</p>
            </div>
        </footer>
    </main>
    <script src="/public/js/script.js"></script>
</body>
</html>
