@layer base {
    :root {
        --black: #000501;
        --white: #FFFFFF;
        --palatinate-blue: #563ACC;
        --neon-blue: #6364FF;
        --cool-gray: #9C9CC9;
        --eerie-black: #212121;
        --dark-eerie-black: #1C1C1C;
        --main: "Roboto", sans-serif;
        --heading: "Montserrat", sans-serif;
        --mono: "Roboto Mono", monospace;
        --base-size: 1rem;
        --scale: 1.2;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);
    }

    html {
        box-sizing: border-box;
        height: 100%;
        margin: 0;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    
    body {
        font-family: var(--main);
        margin: 0;
        padding: 0;
        font-size: var(--base-size);
        line-height: 1.5;
        height: 100%;
        margin: 0;
        background-color: var(--dark-eerie-black);
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading);
    }
    
    .mono {
        font-family: var(--mono);
    }
    
    h1 {
        font-size: var(--h1);
    }
    
    h2 {
        font-size: var(--h2);
    }
    
    h3 {
        font-size: var(--h3);
    }
    
    h4 {
        font-size: var(--h4);
    }
    
    h5 {
        font-size: var(--h5);
    }
    
    h6 {
        font-size: var(--h6);
    }
    
    a {
        color: var(--cool-gray);
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    img {
        max-width: 100%;
    }
    
    figure {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1200px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 0 1rem;
        background-color: var(--dark-eerie-black);
        color: var(--white);
    }
    
    .black {
        background-color: var(--black);
    }

    .white {
        background-color: var(--white);
    }
    
    .palatinate-blue {
        background-color: var(--palatinate-blue);
    }
    
    .neon-blue {
        background-color: var(--neon-blue);
    }
    
    .cool-gray {
        background-color: var(--cool-gray);
    }
    
    .eerie-black {
        background-color: var(--eerie-black);
    }

    .dark-eerie-black {
        background-color: var(--dark-eerie-black);
    }

    .brand {
        margin: 0;
    }

    h1.brand a {
        color: var(--white);
        text-decoration: none;
    }

    .form-container {
        background-color: var(--eerie-black);
        padding: 2rem 2rem 0.65rem 2rem;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .input-field {
        width: 100%;
        margin-bottom: 1rem;
    }

    .input-text {
        width: 100%;
        padding: 0.75rem;
        box-sizing: border-box;
        border: 1px solid var(--cool-gray);
        border-radius: 4px;
        font-size: var(--base-size);
        color: var(--black);
    }

    .button-container {
        width: 100%;
        display: flex;
    }

    .button {
        width: 100%;
        padding: 0.75rem;
        background-color: var(--neon-blue);
        color: var(--white);
        font-size: var(--base-size);
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .button:hover {
        background-color: var(--palatinate-blue);
    }

    .link-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .footer {
        text-align: center;
        margin-top: auto;
    }
}

@layer initial-page {
    .initial-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description {
        max-width: 400px;
        line-height: 1.5;
        font-weight: 500;
        color: var(--cool-gray);
    }

    .initial-page-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8rem 0;
        margin-top: auto;
        margin-bottom: 20px;
    }
}

@layer register {
    .register-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .register-page-container {
        padding: 6rem 24rem 8rem 24rem;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .register-brand {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;   
    }
}

@layer login {
    .login-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-page-container {
        padding: 6rem 24rem 8rem 24rem;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .login-brand {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; 
    }
}

@layer confirmation{
    .confirmation-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .confirmation-page-container {
        padding: 6rem 20rem 8rem 20rem;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .text-container {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .confirmation-description {
        max-width: 600px;
        margin: 0;
        padding: 1rem 0 2rem 0;
    }

    .login-btn {
        padding: 1rem 2rem 1rem 2rem;
    }

    .login-btn:hover {
        text-decoration: none;
    }
}