<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
</head>
<body>
    <main class="container">
        <div>
            <form class="edit-profile-form">
                <div>
                    <div class="profile-image-container">
                        <img id="profileImage" src="aDefaultImage.png" />
                    </div>
                    <div class="input-field">
                        <label for="name">Name</label>
                        <div>
                            <input id="name" class="input-text" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="bio">Bio</label>
                        <div>
                            <textarea id="bio" class="input-text" type="text" placeholder="Bio"></textarea>
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="location">Location</label>
                        <div>
                            <input id="location" class="input-text" type="text" placeholder="Location">
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="social-links">Social accounts</label>
                        <div>
                            <input class="input-text" type="text" placeholder="Link to social profile">
                        </div>
                        <div>
                            <input class="input-text" type="text" placeholder="Link to social profile">
                        </div>
                        <div>
                            <input class="input-text" type="text" placeholder="Link to social profile">
                        </div>
                        <div>
                            <input class="input-text" type="text" placeholder="Link to social profile">
                        </div>
                    </div>
                </div>
                <div class="save-button-container">
                    <button class="save-button" type="submit">Save</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>