<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main class="container">
        <header class="navbar">
            <h1 class="brand">
                <a href='/home' aria-label="Go to home page">Social Media</a>
            </h1>
            <nav>
                <button class="menu-toggle" aria-label="Expand menu">&#9662;</button>
                <ul class="menu">
                    <li><a href='/profile' aria-label="View profile">Profile</a></li>
                    <li><a href='/my-posts' aria-label="View my posts">My Posts</a></li>
                    <li><a href='/logout' aria-label="Sign out">Sign out</a></li>
                </ul>
            </nav>
        </header>
        <section class="profile">
            <div class="profile-image-container">
                <img id="profileImage" src="aDefaultImage.png" />
            </div>
            <div class="action-buttons">
                <button type="button" class="upload-button" id="upload-button">Add image</button>
                <input type="file" id="image-upload" name="image" accept="image/*" style="display: none;">
                <button type="button" class="edit-profile-button" id="edit-profile-button">Edit profile</button>
            </div>
        </section>
        <section class="post-list">
            <h2 class="section-title">My Posts</h2>
            <article class="post-item">
                <header class="post-header">
                    <h3 class="post-author">Lorem Impsu</h3>
                    <time datetime="2024-10-31T12:00">October 31, 2024</time>
                </header>
                <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dignissimos laboriosam optio. Quia fugiat veniam dignissimos. Voluptatum eius, animi molestiae, at sequi ducimus, sit commodi quos minima porro unde deleniti officia totam dolor iusto possimus quod accusamus omnis dicta enim nesciunt corporis? Nulla nobis vel impedit mollitia odio saepe reiciendis?</p>
            </article>
            <article class="post-item">
                <header class="post-header">
                    <h3 class="post-author">Lorem Impsu</h3>
                    <time datetime="2024-10-30T15:00">October 30, 2024</time>
                </header>
                <p class="post-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque soluta, rem quo magni corrupti fugit est, omnis distinctio illo voluptatem commodi corporis nisi! Ratione odio quibusdam quae quam ea odit itaque necessitatibus sapiente, ipsam tempora cupiditate labore voluptatibus dicta error minus nemo aperiam quia laboriosam omnis id? Rem, soluta amet?</p>
            </article>
        </section>
    </main>
    <script src="/public/js/script.js"></script>
</body>
</html>