<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main class="container">
        <div class="initial-page-container">
            <div class="text-container">
                <h1 class="brand">The Social Media</h1>
                <p class="description">The Social Media is a place where you can express yourself and see other people expressing themselves.</p>
            </div>
        </div>
        <div class="form-container">
            <form class="login-form" aria-labelledby="login-heading">
                <div>
                    <div class="input-field">
                        <input id="email" class="input-text" type="email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <input id="password" class="input-text" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="login__button-container">
                    <button class="login-button" type="submit">Sign in</button>
                </div>
            </form>
            <div class="register__link-container">
                <p>New to Social Media? <a class="register-link" href='/register' aria-label="Create an account">Sign up</a></p>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-content">
                <p>&copy; 2024 The Social Media. All rights reserved.</p>
            </div>
        </footer>
    </main>
    <script src="/public/js/script.js"></script>
</body>
</html>
