<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main class="container">
        <div class="initial-page-container">
            <div class="text-container">
                <h1 class="brand">Social Media</h1>
                <p class="description">The Social Media is a place where you can express yourself and see other people expressing themselves.</p>
            </div>
        </div>
        <div class="form-container">
            <form class="login-form" aria-labelledby="login-heading">
                <div>
                    <div class="input-field">
                        <input id="email" class="input-text" type="email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <input id="password" class="input-text" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="login__button-container">
                    <button class="login-button" type="submit">Sign in</button>
                </div>
            </form>
            <div class="register__link-container">
                <p>New to Social Media? <a class="register-link" href='/register' aria-label="Create an account">Sign up</a></p>
            </div>
        </div>
    </main>
    <script src="/public/js/script.js"></script>
</body>
</html>
